# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Environnements virtuels
env/
venv/
.venv/

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/

# PyCharm / IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Pipenv / Poetry
Pipfile.lock
poetry.lock

# Vercel / Deployment
*.env
*.sqlite3
